@import "../../constants.scss";

.project {
  height: 100%;
  background: white;
  overflow: hidden;

  &__topContainer {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
  }

  &__contentContainer {
    width: 100%;
    height: 100%;
    padding-top: 20vh;
    display: flex;
    justify-content: center;

    &--right {
      flex-direction: row-reverse;
      @media (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        justify-content: flex-start;
      }
    }

    @media (max-width: 1200px) {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 40px;
      justify-content: flex-end;
    }
  }

  &__imageContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  &__image {
    width: 100%;

    @media (max-width: 1200px) {
      height: 70vw;
    }
  }

  &__hiddenContainer {
    overflow: hidden;
  }

  &__name {
    font-size: 42px;
    font-family: $titleFont;

    @media (max-width: 1200px) {
      margin-top: 0px;
    }
  }

  &__textContainer {
    width: 400px;
    line-height: 1.5;
    font-family: $descriptionFont;

    @media (max-width: 1200px) {
      width: 60%;
      background: white;
      padding: 10px 20px;
      border: 1px solid lightgray;
      box-shadow: 0 0 10px lightgray;
      border-radius: 5px;
      margin-bottom: 30px;
    }

    @media (max-width: 900px) {
      width: 85%;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  &__buttonContainer {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }

  &__buttonWrapper {
    margin-left: 20px;
  }

  &__bulletsContainer {
    margin-top: 30px;
    margin-bottom: 0px;
    overflow: hidden;
  }

  &__bullet {
    // font-size: 18px;
    & span {
      font-size: 18px;
    }
  }

  &__medmaeli {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background: none;
    border: 0px solid white;
    overflow: hidden;
    max-width: 80%;

    // &--hover{
    border: 1px solid lightgrey;
    background: white;
    // }
  }

  &__medmaeliTextContainer {
    width: 0%;
    white-space: nowrap;
    display: none;
    transition: all 0.3s ease;

    &--hover {
      width: 100%;
      display: inline-block;
    }
  }

  &__medmaeliMynd {
    border-radius: 50%;
    height: 100px;
  }

  &__medmaeliTexti {
    font-family: $descriptionFont;
    font-style: italic;
    transition: all 0.3s ease;
    display: none;
    opacity: 0;
    // width: 0%;

    &--hover {
      display: inline-block;
      opacity: 1;
    }
  }

  &__medmaeliNafn {
    font-family: $descriptionFont;
    text-align: end;
    font-size: 14px;
  }

  &__slant-left {
    content: "";
    position: absolute;
    right: 0;
    bottom: -100vh;
    width: 100%;
    height: 150vh;
    -webkit-transform: skewY(40deg);
    -moz-transform: skewY(40deg);
    -ms-transform: skewY(40deg);
    -o-transform: skewY(40deg);
    transform: skewY(40deg);
    overflow: hidden;
    z-index: 1;
    box-shadow: 1px 1px 10px grey;
  }

  &__slant-right {
    content: "";
    position: absolute;
    right: 0;
    bottom: -100vh;
    width: 100%;
    height: 150vh;
    -webkit-transform: skewY(-40deg);
    -moz-transform: skewY(-40deg);
    -ms-transform: skewY(-40deg);
    -o-transform: skewY(-40deg);
    transform: skewY(-40deg);
    overflow: hidden;
    z-index: 1;
    box-shadow: 1px 1px 10px grey;
  }
}
